@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Air.otf") format("opentype");
  font-weight: 100; /* Adjust as needed */
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-AirItalic.otf") format("opentype");
  font-weight: 100; /* Adjust as needed */
  font-style: italic;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Black.otf") format("opentype");
  font-weight: 900; /* Adjust as needed */
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-BlackItalic.otf") format("opentype");
  font-weight: 900; /* Adjust as needed */
  font-style: italic;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Bold.otf") format("opentype");
  font-weight: 800; /* Adjust as needed */
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-BoldItalic.otf") format("opentype");
  font-weight: 800; /* Adjust as needed */
  font-style: italic;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Light.otf") format("opentype");
  font-weight: 300; /* Adjust as needed */
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-LightItalic.otf") format("opentype");
  font-weight: 300; /* Adjust as needed */
  font-style: italic;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Medium.otf") format("opentype");
  font-weight: 600; /* Adjust as needed */
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-MediumItalic.otf") format("opentype");
  font-weight: 600; /* Adjust as needed */
  font-style: italic;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Regular.otf") format("opentype");
  font-weight: 400; /* Adjust as needed */
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-RegularItalic.otf") format("opentype");
  font-weight: 400; /* Adjust as needed */
  font-style: italic;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Thin.otf") format("opentype");
  font-weight: 200; /* Adjust as needed */
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-ThinItalic.otf") format("opentype");
  font-weight: 200; /* Adjust as needed */
  font-style: italic;
}

@font-face {
  font-family: "Favorit";
  src: url("/fonts/ABCFavoritMono-Bold.otf") format("opentype");
  font-weight: 700; /* Adjust as needed */
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("/fonts/ABCFavoritMono-Book.otf") format("opentype");
  font-weight: 400; /* Adjust as needed */
  font-style: normal;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background: white;
  font-family: Aeonik, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.input{
  padding: 0.5rem;
  background: #0001;
  border-radius: 5px;
  border: none;
}